.betterchat-image-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.betterchat-image-preview-image {
	display: block;
	position: relative;
	overflow: hidden;
	background: var(--tsv-shaded-bg);
}

.betterchat-image-preview-link {
	display: inline-block;
	position: relative;
	margin-top: 5px;
}

.betterchat-invalid-link {
	color: gold !important;
}

.betterchat-attachment-container {
	margin: 5px;
	white-space: normal;
	word-break: normal;
	overflow-wrap: break-word;
}

.betterchat-attachment-header {
	display: flex;
	flex-direction: row;
}

.betterchat-attachment-favicon-container {
	margin: 6.2px 0 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.betterchat-attachment-favicon {
	width: 16px;
	height: 16px;
}

.betterchat-attachment-title-container {
	margin: 6.2px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.betterchat-attachment-content-container {
	display: flex;
	flex-direction: row;
}

.betterchat-attachment-image-container {
	justify-content: center;
	margin: 10px 10px 10px 10px;
}

.betterchat-attachment-image-container .betterchat-attachment-image-container-description {
	margin: 10px 0px 10px 10px;
}

.betterchat-attachment-image {
	max-width: 100%;
	max-height: 100%;
	min-width: 80%;
	min-height: 80%;
	object-fit: contain;
	border-radius: var(--tsv-border-radius-large);
}

.betterchat-attachment-description {
	margin: 5px 10px 10px 10px;
	font-size: var(--tsv-font-size-small);
	display: flex;
	align-items: center;
}

.ts-chat-message-attachment-inner:has(.twitter-tweet) {
    background: transparent;
    border-color: transparent;
	min-width: 300px !important;
}

.ts-chat-message-attachment-inner:has(audio) {
    background: transparent !important;
    border: none !important;
}

betterchat-message sup {
	/* Fix vanilla TS6 client CSS forcing "vertical-align: baseline;" on all tags */
	vertical-align: super;
}

betterchat-message sub {
	/* Fix vanilla TS6 client CSS forcing "vertical-align: baseline;" on all tags */
	vertical-align: sub;
}

betterchat-message h2 {
	/* Fix vanilla TS6 client CSS setting font-size to 100%  */
	font-size: revert;
}

betterchat-message h5 {
	/* Fix vanilla TS6 client CSS setting font-size to var(--tsv-font-size-large) */
	font-size: revert;
}

betterchat-message h6 {
	/* Fix vanilla TS6 client CSS setting font-size to var(--tsv-font-size) */
	font-size: revert;
}

betterchat-message .highlighted-text-snippet {
	color: black;
	background: yellow;
}

betterchat-message ul {
	/* Fix vanilla TS6 client CSS setting list to none */
	list-style-type: disc;
}

betterchat-message li {
	list-style-position: inside;
}

betterchat-message table, betterchat-message th, betterchat-message tr, betterchat-message td {
	border-collapse: collapse;
	padding: .5rem;
}

betterchat-message tr:nth-child(1) {
	border-bottom: var(--presence-separator-presence) 3px solid;
}

betterchat-message tr {
	border-bottom: var(--presence-separator-presence) 1px solid;
}

betterchat-message th {
	font-weight: bold;
}

betterchat-message blockquote {
	background-color: var(--tsv-contrast-bg);
	border-radius: var(--tsv-border-radius);
	border-left: 3px solid #434343;
}

betterchat-message blockquote.callout-note {
	border-left: 3px solid #3B82F4;
}

betterchat-message blockquote.callout-tip {
	border-left: 3px solid #0DBA82;
}

betterchat-message blockquote.callout-important {
	border-left: 3px solid #8E5BF6;
}

betterchat-message blockquote.callout-warning {
	border-left: 3px solid #F39F0B;
}

betterchat-message blockquote.callout-caution {
	border-left: 3px solid #EF4140;
}

betterchat-message .blockquote-content-wrapper {
	padding: .4em .4em .4em .6em;
}

betterchat-message blockquote p {
	margin: 0;
}

betterchat-message p.blockquote-title {
	color: var(--ts-chat-system-message-text-color);
	margin-bottom: .2em;
}

betterchat-message .mermaid-diagram-preview,
.ts-lightbox-content-platter-inner .mermaid-diagram-preview {
	position: relative;
	border-radius: 5px;
}

.ts-lightbox-content-platter-inner .mermaid-diagram-preview {
	height: 100%;
}

betterchat-message .mermaid-diagram-preview pre,
.ts-lightbox-content-platter-inner .mermaid-diagram-preview pre {
	background: #262626;
	color: red;
}

.ts-lightbox-content-platter-inner .mermaid-diagram-preview pre {
	height: 100%;
	width: 100%;
}

.ts-lightbox-content-platter-inner .mermaid-diagram-preview svg {
	width: 100%;
	height: 100%;
	max-width: none !important;
}

betterchat-message .mermaid-diagram-controls,
.ts-lightbox-content-platter-inner .mermaid-diagram-controls {
	top: unset;
	bottom: 0.5rem;
	display: flex;
	position: absolute;
	right: 0.5rem;
}

betterchat-message .mermaid-diagram-controls,
.ts-lightbox-content-platter-inner .mermaid-diagram-controls {
	top: unset;
	bottom: 0.5rem;
	display: flex;
	position: absolute;
	right: 0.5rem;
}

.mermaid-diagram-control-element {
	--mermaid-diagram-control-font-color: #D3D3D3;
}

betterchat-message .mermaid-diagram-control-element,
.ts-lightbox-content-platter-inner .mermaid-diagram-control-element {
	background-color: #262626;
	box-shadow: 0 0 2px black;
	cursor: pointer;
	min-width: 25px;
	min-height: 25px;
	display: flex;
}

betterchat-message .mermaid-diagram-control-element:first-child,
.ts-lightbox-content-platter-inner .mermaid-diagram-control-element:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

betterchat-message .mermaid-diagram-control-element:last-child,
.ts-lightbox-content-platter-inner .mermaid-diagram-control-element:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

betterchat-message .mermaid-diagram-control-element:hover,
.ts-lightbox-content-platter-inner .mermaid-diagram-control-element:hover {
	box-shadow: 0 0 3px black;
}

betterchat-message .mermaid-diagram-control-element svg,
.ts-lightbox-content-platter-inner .mermaid-diagram-control-element svg {
	stroke: var(--mermaid-diagram-control-font-color);
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
}

.mermaid-diagram-control-element-zoom-in {
	justify-content: center;
	align-items: center;
	color: var(--mermaid-diagram-control-font-color);
}

.mermaid-diagram-control-element-zoom-out {
	justify-content: center;
	align-items: center;
	color: var(--mermaid-diagram-control-font-color);
}

.mermaid-diagram-control-element-zoom-scale {
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	font-size: var(--tsv-font-size-small);
	color: var(--mermaid-diagram-control-font-color);
}

.mermaid-diagram-control-element-reset-zoom svg {
	fill: var(--mermaid-diagram-control-font-color);
	scale: .65;
}
